<%- include('../layouts/adminheader.ejs') %>
    <div class="container mt-4">
        <h2 class="text-center">Add new Coupon</h2>
        <% if(typeof error !== 'undefined') { %>
            <div class="alert alert-danger mt-4" role="alert">
                <h6 class="mb-0"><%= error %></h6>
            </div>
        <% } %>
        <form action="/addnewcoupon" method="post">
            <div class="form-group">
                <label for="expirationDate">Code</label>
                <input type="text" class="form-control" id="code" name="code" value="<%=code%>" required>
                <a href="/coupon" id="generate-coupon" class="btn btn-success">Generate</a><br>

                <label for="expirationDate">Minimum amount eligible for coupon:</label>
                <input type="text" class="form-control" id="minimum" name="minimum" required>
            </div>
            <div class="form-group">
                <label for="expirationDate">Maximum discount amount</label>
                <input type="text" class="form-control" id="maximum" name="maximum" required>
            </div>
            <div class="form-group">
                <label for="discount">Discount (%):</label>
                <input type="number" class="form-control" id="discount" name="discount" required>
            </div>
            <div class="form-group">
                <label for="expirationDate">Expiration Date:</label>
                <input type="date" class="form-control" id="expirationDate" name="expirationDate" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/adminhome" class="btn btn-secondary">Back to Home</a>
        </form>
    </div>
    <br>
    <br>
    <br>
    <%- include('../layouts/adminfooter.ejs') %>
