
  <%- include('../layouts/adminheader.ejs') %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container mt-5">
    <h1>Report</h1>
    <div class="row mt-4">
      <div class="col-md-3">
        <a href="/specificRange" class="btn btn-primary btn-block" style="width: 100%;">Report with in Range</a>
      </div>

      <div class="col-md-3">
        <a href="/reportpage?id=yearly" class="btn btn-primary btn-block" style="width: 100%;">Yearly Report Faster access</a>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <%- include('../layouts/adminfooter.ejs') %>
