<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="widget widget-about">
                        <img style="width: 180px;height: 30;" src="/assets/fishingimages/logo2.jfif" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Fishing provides relaxation, a connection with nature, and a sustainable food source. It fosters social bonds, physical activity, and cognitive skills. As an eco-friendly pastime, it promotes environmental stewardship, while its historical and cultural significance adds depth to the experience. Fishing combines adventure, recreation, and personal satisfaction.</p>
                        
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-4 -->

                <div class="col-sm-6 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">Useful links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/contact">About Fishing Hub</a></li>
                            <li><a href="/users/shopmain">How to shop With Fishing Hub </a></li>
                            <li><a href="/contact">Contact us</a></li>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/userlogout">Log Out</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                    <div class="col-sm-6 col-md-8">
                        <span class="widget-about-title">Payment Method</span>
                        <figure class="footer-payments">
                            <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                        </figure><!-- End .footer-payments -->
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .col-sm-4 col-lg-2 -->


                <div class="col-sm-6 col-md-4">
                    <div class="widget-about-info">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <span class="widget-about-title">Got Question? Call us 24/7</span>
                                <a href="">703489975</a>
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .widget-about-info -->
                    
                </div><!-- End .col-sm-6 col-lg-2 -->
            </div><!-- End .row -->
        </div><!-- End .container-fluid -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="footer-copyright">Copyright © 2023 Fishing Hub. All Rights Reserved.</p><!-- End .footer-copyright -->
            <ul class="footer-menu">
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul><!-- End .footer-menu -->

            <div class="social-icons social-icons-color">
                <span class="social-label">Social Media</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container-fluid -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDc3LRykbLB-y8MuomRUIY0qH5S6xgBLX4"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/bootstrap-input-spinner.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.plugin.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/demos/demo-7.js"></script>
<script>
    $(document).ready(function() {
    $.noConflict();
      $('#myTable').DataTable({
        "paging": true,          // Enable pagination
        "pageLength": 5,        // Number of rows per page
        "lengthMenu": [10, 25, 50, 75, 100],  // Dropdown options for rows per page

      });
    });
    </script>
</body>


<!-- molla/index-7.html  22 Nov 2019 09:56:58 GMT -->
</html>